@charset "UTF-8";
/* CSS Document */

/*** CSS RESET 

Adapted from Eric Meyer's CSS Reset Reloaded
http://meyerweb.com/eric/thoughts/2007/05/01/reset-reloaded/ ***/ 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0; padding: 0; border: 0; outline: 0;	font-weight: inherit;	font-style: inherit;	font-size: 100%; line-height: 100%;	font-family: inherit;	vertical-align: baseline; }
	
:focus {outline: 0;}

ol, ul {list-style: none;}

table {border-collapse: separate;border-spacing: 0;}

caption, th, td {text-align: left;font-weight: normal;}

img {border: 0;}

/* Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/ */

body { font:13px/1.231 sans-serif; *font-size:small; } /* Hack retained to preserve specificity */

pre, code, kbd, samp { font-family: monospace, sans-serif; }

/* Always force a scrollbar in non-IE */
html { overflow-y: scroll; }

a:hover, a:active { outline: none; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

td { vertical-align: top; }

textarea { overflow: auto; } /* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }


/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }


/*** universal styles ***/

	h1,h2,h3,h4,h5,h6{font-size:100%;  font-weight: bold; line-height: 1.2em}
	h1{font-size:2em;}
	h2{font-size:1.8em;}
	h3{font-size:1.6em;}
	h4{font-size:1.4em;}
	h5{font-size:1.2em;}
	h6{font-weight:bold;}
	
	ul, ol {list-style:none;}
	p, li, blockquote {line-height: 1.4em}	
	a {color: black}
		a img {border: none;}
	acronym, abbr {cursor:help; border-bottom:1px dashed #999;}
	strong, b {font-weight: bold;}
	em, i {font-style: italic;}
	
	.clear, .clearfix {clear:both;}
	
	.aligncenter {display: block; margin-right: auto; margin-left: auto;}
	.alignleft {margin: 0 16px 12px 0; float: left;}
	.alignright {margin: 0 0 16px 12px; float: right;}
	
	.center {text-align: center;}
	
	.hidden {display: none}
	
	.error-box {background: #FFBCBC; padding: 8px 8px 8px 30px; font-size: 0.85em}
		.error-box li {margin: 0 0 4px; color: #5E0000}
	
	/* For modern browsers */
	.cf:before,
	.cf:after {
		content:"";
		display:table;
	}
	
	.cf:after {
		clear:both;
	}
	
	/* For IE 6/7 (trigger hasLayout) */
	.cf {
		zoom:1;
	}

/*** head-body.html, layout.html styles ***/

body {line-height: 1em; font-size: 80%; font-family: Arial, Helvetica, sans-serif; background: url(../images/bg.png)}
	
	#main-nav li {display: inline-block}
	
/*** universal content styles ***/

.intro-content {font-size: 1.2em; padding: 24px}

.inner-wrap {clear: both; width: 960px; margin: 0 auto;}

.content-wrap {background: #fff; margin: 20px 0; padding: 20px 0; box-shadow: 0 3px 4px #888; border-top: 1px #ddd solid}

.content-col, .content-full { padding: 24px; margin: 0 0 24px}

.content-col {width: 62%; float: left}
.sidebar {width: 23%; float: right}

.the-content {}
	.the-content h2 {margin: 18px 0 8px;}
	.the-content h3 {margin: 16px 0 6px;}
	.the-content h4 {margin: 14px 0 4px;}
	.the-content h5 {margin: 12px 0 4px;}
	.the-content h6 {margin: 10px 0 4px;}
	.the-content p  {padding: 0.5em 0;}
	.the-content p, .the-content a, .the-content strong, .the-content b, .the-content em, .the-content i, .the-content li  {line-height: 1.4em;}
	.the-content ul {list-style-type: square; padding: 10px 0 0 40px; }
	.the-content ol {list-style-type: decimal; padding: 10px 0 0 40px;}
	.the-content li {margin: 0 0 0.5em 0;}
	
/** shipped.html **/	

.shipped-wrap {position: relative;}
	.shipped-item {background: #fff; padding: 18px; width: 254px; border-radius: 3px; box-shadow: 0 1px 6px #bbb}
		.shipped-item h2 {font-size: 1.4em; margin: 0 0 10px}
		.shipped-item img {width: 290px; display: block; margin: 0 0 10px -18px; border-top: solid 1px #e4e4e4; border-bottom: solid 1px #e4e4e4}
		.shipped-item p {padding: 8px 0}
		.shipped-item a.more-link {text-decoration: none; font-weight: bold}
		
/** clients.html **/

.slider-box {position: relative}

	.prev-nav, .next-nav {position: absolute; font-size: 4em; top: 20px; cursor: pointer; color: #888}
		.prev-nav:hover, .next-nav:hover {color: #555}
		
	.prev-nav {left: -40px}
	.next-nav {right: -40px}
	
	.slide {}
	.slide img {max-width: 200px; float: right; margin: 0 0 10px 16px}
