{% extends "layout.html" %}
	{% block content %} 
		{% if page.content.sections|length > 0 %}
		<div class="outer-wrap">
			<div class="inner-wrap cf">
				<div class="intro-content">
					{{ page.content.html|raw }}
				</div>
			</div>
		</div>
		<div class="outer-wrap content-wrap">
			<div class="inner-wrap cf">
				<div class="content-col">
					{% for item in page.content.sections %}
						<div class="sub-page">
							<h2><a href="{{ query.base }}{{ item.link }}">{{ item.title }}</a></h2>
							{{ item.description }}
						</div>
					{% endfor %}
		{% else %}
		<div class="outer-wrap content-wrap">
			<div class="inner-wrap cf">
				<div class="content-col">
					{{ page.content.html|raw }}
		{% endif %}
				</div>
				<div class="sidebar">
					{% include "partials/sidebar-blog.html" %}
				</div>
			</div>
		</div>
	{% endblock %}