{% extends "layout.html" %}
	{% block content %} 
		{% if page.content.sections|length > 0 %}
		<div class="outer-wrap">
			<div class="inner-wrap cf">
				<div class="intro-content">
					{{ page.content.html|raw }}
				</div>
			</div>
		</div>
		<div class="outer-wrap content-wrap">
			<div class="inner-wrap cf">
				<div class="content-col">
					{% for item in page.content.sections %}
						<div class="sub-page">
							<h2><a href="{{ query.base }}{{ item.link }}">{{ item.title }}</a></h2>
							{{ item.description }}
						</div>
					{% endfor %}
		{% else %}
		<div class="outer-wrap content-wrap">
			<div class="inner-wrap cf">
				<div class="content-col">
					{{ page.content.html|raw }}
					
					<div id="disqus_thread"></div>
					<script type="text/javascript">
							/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
							var disqus_shortname = 'theproperweb'; // required: replace example with your forum shortname
	
							/* * * DON'T EDIT BELOW THIS LINE * * */
							(function() {
									var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
									dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
									(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
							})();
					</script>
					
		{% endif %}
				</div>
				<div class="sidebar">
					{% include "partials/sidebar-blog.html" %}
				</div>
			</div>
		</div>
	{% endblock %}