{% extends "layout.html" %}
	{% block content %} 
	<div class="outer-wrap">
		<div class="inner-wrap cf">
			<div class="intro-content">
				{{ page.content.html|raw }}
			</div>
		</div>
	</div>
	
	<div class="outer-wrap content-wrap" id="contact-form-wrap">
		<div class="inner-wrap cf">
			<ul class="tab-switcher">
				<li data-group="contact-general">Question</li>
				<li data-group="contact-project">Project Request</li>
				<li data-group="contact-work">Work With Us</li>
				<li data-group="contact-bug">Issue Submit</li>
			</ul>
			{{ page.content.sections.0|raw }}
		</div>
	</div>

		
	{% endblock %}