{% extends "layout.html" %}
	{% block content %} 
	<div class="outer-wrap">
		<div class="inner-wrap cf">
			<div class="intro-content">
				{{ page.content.html|raw }}
			</div>
		</div>
	</div>
	
	<div class="outer-wrap content-wrap">
		<div class="inner-wrap cf">
			<div class="content-full cf">
				{% for item in page.content.sections %}
				<div class="sub-page">
					<h2>{{ item.title }} <a href="{{ query.base }}{{ item.link }}">&gt;</a></h2>
					{{ item.description }} <br><a href="{{ query.base }}{{ item.link }}">Continue&nbsp;&raquo;</a>
				</div>
			{% endfor %}
			</div>
		</div>
	</div>
		
	{% endblock %}